body {
  background-color: #333;
  margin-top: 10px;
}

/* LIGNES */
#lignes {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#ligne1 {
  height: 165px;
  display: flex;
}

#ligne2 {
  height: 187px;
  display: flex;
}

#ligne3 {
  height: 219px;
  display: flex;
}

#ligne3double {
  display: flex;
  flex-direction: column;
}

#ligne3-1 {
  height: 103px;
  display: flex;
}

#ligne3-2 {
  height: 101px;
  display: flex;
}

/* BORDURES INFÉRIEURES */
.border-bottom-15 {
  border-bottom: 15px solid black;
}

.border-bottom-14 {
  border-bottom: 14px solid black;
}

/* BORDURES DROITES */
.border-right-15 {
  border-right: 15px solid black;
}

.border-right {
  border-right: 15px solid black;
}

.border-right-7 {
  border-right: 7px solid black;
}

/* LARGEURS */
.width-12 {
  width: 12px;
}

.width-91 {
  width: 91px;
}

.width-207 {
  width: 207px;
}

.width-239 {
  width: 239px;
}

.width-84 {
  width: 84px;
}

.width-141 {
  width: 141px;
}

.width-305 {
  width: 305px;
}

.width-148 {
  width: 148px;
}

/* COULEURS */
.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
